body {
    font-family: Helvetica, Verdana, sans-serif;
}

#MMFOOD {
    height: auto;
    width: 500px;
}

figcaption {
    font-size: 10px;
}

ol, ul li {
    list-style-type: square;
}

h1,
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#front-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#front-page li {
     list-style: none;
}

.image {
    display: grid;
}