* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #385358;
  font-family: Helvetica, Verdana, sans-serif;
  color: #b1b4bd;
}

h1 {
  color: #a74844;
  text-align: center;
  padding: 1em;
  font-size: 3rem;
}

img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

figcaption {
  font-size: 0.75rem;
}

ul li::marker {
  color: #a74844;
}

ol li::marker {
  color: #a74844;
}

.front-page {
  list-style: none;
  margin-top: 1rem;

  & > li {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

a:link {
  color: #fdfdd0;
  text-decoration: none;
}

a:visited {
  color: #a7b85e;
}

a:hover {
  color: #eaf4ea;
}
